.contactTitle {
    font-size: 24px;
    font-weight: 600;
}

.contactDetails {
    margin-bottom: 20px;
}

.contactText {
    font-size: 16px;
    color: #333;
}

.iconStyle {
    margin-right: 8px;
}
