/* Pagination.module.css */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.active {
  background-color: #7367f0;
  color: white;
  border-color: #7367f0;
}
