.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4f9ef8; */
  background: linear-gradient(90deg, #7367f0, #43cea2);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 1rem;
}
/* @keyframes shakeGradient {
  0% {
    background: linear-gradient(90deg, #7367f0, #43cea2);
  }
  25% {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
  }
  50% {
    background: linear-gradient(90deg, #43cea2, #7367f0);
  }
  75% {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
  }
  100% {
    background: linear-gradient(90deg, #7367f0, #43cea2);
  }
} */
.logoPlaceholder {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks {
  display: flex;
  gap: 30px;
}

.linkText {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.linkText:hover {
  color: #ffd700;
}

.toggleButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding-inline: 13px;
}

.activeLink {
  border-bottom: 2px solid #ffd700;
}
