/* UserProfile.module.css */

.changePasswordPage {
    /* max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif; */
}

.changePasswordPage h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 20px;
    position: relative;
}

.inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.inputGroup input:focus {
    border-color: #7367f0; /* Highlight with your logo color */
    outline: none;
    box-shadow: 0 0 3px rgba(115, 103, 240, 0.5);
}

.inputGroup span {
    position: absolute;
    right: 10px;
    top: 63%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.inputGroup span:hover {
    color: #333;
}

.passwordRequirements {
    margin-top: 20px;
}

.passwordRequirements h4 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.passwordRequirements ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.passwordRequirements li {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.passwordRequirements li::before {
    content: "●";
    display: inline-block;
    margin-right: 10px;
    font-size: 0.7rem;
    color: red;
    transition: color 0.3s ease;
}

.passwordRequirements .valid::before {
    color: green;
}

.passwordRequirements .valid {
    color: green;
}

.passwordRequirements .invalid {
    color: red;
}

button {
    /* width: 100%; */
    padding: 10px;
    background: #7367f0; /* Your logo color */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: #5a4ecf;
    box-shadow: 0 4px 8px rgba(115, 103, 240, 0.2);
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
