.layout {
    display: flex;
    flex-direction: column; /* Stack navbar on top */
    height: 100vh; /* Full height of the viewport */
    background-color: #F8F7FA
  }
  
  .mainContainer {
    display: flex;
    flex: 1; /* Allow content to take remaining space */
  }
  
  .content {
    padding: 20px;
    flex: 1; /* Allow content to expand */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }
  
  